@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');

@import "reset.css";
@import "variables.css";

/* Components */
@import "components/status-bar.css";
@import "components/nav-bar.css";
@import "components/screen-header.css";
@import "components/user-component.css";
@import "components/badge.css";
@import "components/icon-row.css";
@import "components/alt-screen";

/* Screens */
@import "screens/login.css";
@import "screens/friends.css";
@import "screens/find.css";
@import "screens/more.css";



body {
  font-family: 'Roboto', sans-serif;
  color: #2e363e;
}

.main-screen {
  padding: 0px var(--horizontal-space);
}

.welcome-header {
  margin: 90px 0px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.welcome-header__title {
  margin-bottom: 20px;
  font-size: 25px;
  font-weight: 500;
  letter-spacing: -0.3px;
}

.welcome-header__text {
  width: 60%;
  opacity: 0.7;
  font-weight: 400;
  line-height: 20px;
}